/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgba(212, 216, 212, 0.5);
}
.navbar {
  background-color: white;
}
.navbar-brand {
  position: absolute;
  left: 50%;
}
.post-panel {
  text-align: center;
}
.post-content {
  text-align: left;
  margin-left: 15px;
}
.post-title {
  text-align: left;
  margin-left: 15px;
}
.post-link {
  text-align: left;
}
.post-title {
  text-align: left;
}
.post-content {

}
.post-owner {
  font-weight: bold;
}
.g-links {
  opacity: 0.4;
  margin-right: 70px;
  font-size: 120%;
}
.rounded-img {
  border-radius: 5%;
}